header
  div.ico
    i.dummy
    i.dummy
  div.navlinks
    a(href="/?Recepices=All") Recettes
    div
      a(href="/?Menus=All") Menus
      h1=title
    a(href="/?Search=All") Recherche
  +banner(params && params.get.name ? params.get.name :page, 2)