header
  div.ico
    i.dummy
    i.dummy
  div.navlinks
    a(href="/recettes") Recettes
    div
      a(href="/menus") Menus
      h1=title
    a(href="/recherche") Recherche
  +banner(params && params.get.name ? params.get.name :page, 2)