extends layout

block content
  .p-body
    case true
      when (page === "Recettes" && !params.get.name)
        include recettes
      when (page === "Recettes" && !!params.get.name)
        include recette
      when (page === "Menus" && !params.get.name)
        include menus
      default
        include menu