include mixin
doctype html
html
  head
    title #{title}: #{page}
    link(rel='stylesheet', href='/stylesheets/widgets.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header
    block content
    include footer
