include mixin
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/widget.css')
  body
    include header
    block content
    include footer
