mixin heading(text, priority)
  case priority
      when 1
        h1=text
          block 

mixin banner(text, priority)
  +heading(text, priority)
    .W-banner
      div
      div
      div

mixin test
  p this is a mixin test