mixin heading(text, priority)
  case priority
      when 1
        h1&attributes(attributes)=text
          block 
      when 2
        h2&attributes(attributes)=text
          block 
      when 3
        h3&attributes(attributes)=text
          block 
      when 4
        h4&attributes(attributes)=text
          block 
      when 5
        h5&attributes(attributes)=text
          block 
      when 6
        h6&attributes(attributes)=text
          block
      default
        p&attributes(attributes)=text
          block

mixin banner(text, priority)
  +heading(text, priority)(class="W-banner")
    div
      div
      div
      div
