body {
  margin: 0;
  background: rgba(25, 25, 25);
  color: rgba(225, 225, 225, .9);
  max-width: 1000px;
  margin: 1em auto;
  --W-height: 50px;
  --W-primaryR: 25;
  --W-secondaryR: 225;
  --W-primaryG: 25;
  --W-secondaryG: 225;
  --W-primaryB: 25;
  --W-secondaryB: 225;
}
h2.W-banner {
  --W-margin: 1em;
}
.p-body{
  margin-top: 1.5em;
  display: grid;
  gap: .5em;
}
header {
  border: solid .1px transparent;
  margin: 2.5vh 0;
  display: grid;
}
.navlinks a{
  color: rgba(225, 225, 225, 1);
  font-size: 1.5em;
  text-decoration: none;
}
.navlinks h1{
  margin: auto;
}
i.dummy {
  display: inline-grid;
  background: whitesmoke;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  color: darkslategrey;
  justify-content: center;
  align-content: center;
}
i.dummy::before {
  content: "icon";
}
.ico>:first-child{
  float: left;
}
.ico>:last-child{
  float: right;
}
.navlinks {
  margin-top: 1em;
  display: inline-grid;
  text-align: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 5px;
  justify-self: center;
}
.navlinks>*{
  width: 100%;
  justify-self: center;
  align-self: center;
  padding: 2px;
}
.navlinks>:first-child, .navlinks>:last-child{
  border-bottom: solid 2px rgba(225, 225, 225, 1);
}

.slidingItem {
  margin: 0 10%;
  border: transparent dashed 2px;
}
.slidingItem:not(:last-child){
  border-bottom-color: currentColor;
}
.slidinginner{
  display: grid;
  grid-template-columns: 100% 100%;
  margin: 0 2.5%;
  gap: 2.5%;
  overflow: hidden;
}
.slidinginner:hover>*{
  transform: translateX(-102.5%);
}
.slidinginner>*{
  transition: all 1s ease;
}
.slidinginner>h3{
  margin: 2.5% 0;
  border: solid 1px currentColor;
  padding: .5em;
  text-align: center;
}