*{box-sizing: border-box;}
.W-banner{
  min-width: 100px;
  display: grid;
  border: 2px solid var(--colorB);
  background: var(--colorA);
  position: relative;
  place-items: center;
  margin: unset calc(100% - (90% - (var(--height)*2)));
  width: calc(90% - (var(--height)*2));
  justify-self: center;
  height: var(--height);
}
  
.W-banner > :first-child{
  position: absolute;
  top: 25%;
  width: calc(100% + (var(--height)*2));
  height: calc(100% + (2px*2));
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr auto;
  z-index: -2;
}

.W-banner > :first-child > :not(:nth-child(2)){
  position: relative;
  width: calc(var(--height)*1.5);
  border: var(--colorB) calc(var(--height)/2) solid;
}

.W-banner > :first-child > :nth-child(2){
  border-bottom: 2px dotted var(--colorB);
}


.W-banner > :first-child > :not(:nth-child(2))::before,
.W-banner > :first-child > :not(:nth-child(2))::after{
  content: "";
  position: absolute;
}

.W-banner > :first-child > :not(:nth-child(2))::before{
  width: 100%;
  border: var(--colorA) calc((var(--height)/2) - 2px ) solid;
  top: calc((var(--height)/-2) + 2px);
  left: calc((var(--height)/-2));
  right: calc((var(--height)/-2));
}

.W-banner > :first-child > :not(:nth-child(2))::after{
  border: var(--colorB) solid;
  border-width: calc((var(--height)/7)) calc((var(--height)/4.4));
  border-bottom-color: transparent;
  inset: calc((var(--height)/-2));
  top: unset;
}

.W-banner > :first-child > :nth-child(1){
    border-left-color: transparent;
    border-right-width: calc(var(--height)/1.75);
} 
.W-banner > :first-child > :nth-child(1)::before,
.W-banner > :first-child > :nth-child(1)::after{
  border-left-color: transparent;
  left: unset;
}
.W-banner > :first-child > :nth-child(1)::after{
  border-left-color: transparent;
}

.W-banner > :first-child > :nth-child(3){
  border-right-color: transparent;
  border-left-width: calc(var(--height)/1.75);
} 
.W-banner > :first-child > :nth-child(3)::before,
.W-banner > :first-child > :nth-child(3)::after{
  border-right-color: transparent;
  right: unset;
}
.W-banner > :first-child > :nth-child(3)::after{
  border-right-color: transparent;
}


